# General aliases
alias ls='ls -G'
alias pwdc="pwd | tr -d '\n' | pbcopy"
alias u='cd ..'
alias uu='cd ../..'
alias uuu='cd ../../..'
alias uuuu='cd ../../../..'
alias myip='curl -s http://checkip.dyndns.org/ | grep -o "[[:digit:].]\+"'

# Rails aliases
alias lm='$EDITOR db/migrate/`ls -t db/migrate/ | head -1`'
alias llm='ls db/migrate | tail'

# git aliases
alias gl='git l'
alias gst='git status'
alias changelog='git --no-pager log --format="%s"'

# Other aliases
alias perl="/usr/bin/perl"
alias cpan="/usr/bin/cpan"

function _hgrep() { history | grep "$@" | tail -n 10;}; alias hgrep='_hgrep'

function serve {
  port="${1:-3000}"
  ruby -r webrick -e "s = WEBrick::HTTPServer.new(:Port => $port, :DocumentRoot => Dir.pwd); trap('INT') { s.shutdown }; s.start"
}

# Users https://github.com/alloy/terminal-notifier
# Call like that:
#     long_running_task.sh && notify "Done"
function _notify() { terminal-notifier -message "$@";}; alias notify='_notify'